body {
    margin : 0; 
    letter-spacing : 0.5px;
    font-family : sans-serif;
    justify-content: center;
}
/* landing page */

small-logo {
    width: 250px;
    height: 250px;
}

get-started {
    padding: 10px;
    border-radius: 10px;
    color: 
}

