.container {

}

.mainbody {
    align-items: center;
    margin: auto;
    display: block;
    overflow: hidden;  
}

.header-text {
    margin: auto;
    justify-content: center;
    width: 500px;
    margin-top: 250px;
}

.catch-phrase {
    color: #000;
    text-align: center;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.small-logo {
    width:100px;
}

.get-started { 
    position: relative;
    justify-content: center;
    display: block;
    margin: auto;
    width: 300px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background-color: #FF5F3f;
    transition: width 0.25s, height 0.25s, background-color 0.25s;
}

.get-started:hover {
    background-color: #ff441e;
    width: 330px;
    height: 75px;
}

.get-started-link, .get-started-link:hover {
    color: #fff;
    font-size: 40px;
    text-decoration: None;
}