{% extends "base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{  url_for('static', filename='css/landing.css'  )}}">
{% endblock %}

{% block body %}
<div class = "container">
    <img src="{{url_for('static', filename='images/map.png')}}", id = "bg-image"/>
    <div class = "content">
        <img src="{{url_for('static', filename='images/longlogo.png')}}" />
        <div class = "header-text">
            <h1 class = "catch-phrase">
                Don't know where to meet? Let's <em><u>Meet in the Middle!</u></em>
            </h1>
        </div>
        <div class = "mainbody">
            <button class = "get-started">
                <a href = "{{  url_for('search')}}" class = "get-started-link" id="get-started">
                    Get Started!
                </a>
            </button>
        </div>
    </div>
</div>

{% endblock %}