{% extends "base.html" %}

{% block head %}
{% endblock %}
{% block body %}
<h1>
    Meet Me in the Middle
</h1>
<img src = "images/logo.png" class= "small-logo" id="small-logo">
<button>
    <a href = "{{  url_for('route')}}" class = "get-started" id="get-started">
        Get Started!
    </a>
</button>
    {% if output %}
        {% for place in output['results'] %}
            {{ place['name'] }}
        {% endfor %} 
    {% else %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}