{% extends "base.html" %}

{% block head %}
<nav> 
    <div class = "navbar">
        <a href = "{{  url_for('index')}}">
            <img src="{{url_for('static', filename='images/longlogo.png')}}" alt="logo" class="small-logo">
        </a>
        <div class = "topnav-right">
            <a href = "{{  url_for('index')}}" class = "home" id = "home">Home</a>
        </div>
    </div>
</nav>
{% endblock %}
{% block body %}
<h1>
    Meet Me in the Middle
</h1>
<img src = "{{url_for('static', filename='images/logo.png')}}" class= "small-logo" id="small-logo">

    {% if error %}
        {{ error}}
    {% endif %}


    <!-- Variables in double {{ }} Below are the modes of transport the user chose -->
    {{ transport_a }}
    {{ transport_b }}
    
    {% if places %}
        {% for place in places %}
            <div class="result">
                <img src="{{ place.business_image_link }}" alt="Image of {{ place.name }}">
                <div>
                    <h3>{{ place.name }}</h3>
                    <p><strong>Address:</strong> {{ place.address }}</p>
                    <p class="rating"><strong>Rating:</strong> 
                        {% if place.rating %}
                            {{ place.rating }} / 5 ({{ place.total_ratings }} ratings)
                        {% else %}
                            No ratings available
                        {% endif %}
                    </p>
                    <p class="time-info">
                        <strong>Time from A:</strong> {{ place.time_from_a }} meters<br>
                        <strong>Time from B:</strong> {{ place.time_from_b }} meters
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}