{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{  url_for('static', filename='css/search.css'  )}}">
<nav> 
    <div class = "navbar">
        <a href = "{{  url_for('index')}}">
            <img src="{{url_for('static', filename='images/longlogo.png')}}" alt="logo" class="small-logo">
        </a>
        <div class = "topnav-right">
            <ul> 
            <li><a href = "{{  url_for('index')}}" class = "home" id = "home">Home</a></li>
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}
<form action="/search" method="post" class="outer-map">
    <div class="main-map" id="main-map">
        <div class="add-location" id="add-location">
            <div class="location-header">
                <h3>Locations</h3>
            </div>
                <div name="location">
                    <input name="locationa" type="text" placeholder="Location 1" class="location-input" required>
                    <br>
                    <label>
                        <input type="radio" name="transport" value="driving" checked>
                        <img src="./static/icons/car-solid.svg" alt="car" class="small-icon">
                    </label>
                    <label>
                        <input type="radio" name="transport" value="bicycling">
                        <img src="./static/icons/bicycle-solid.svg" alt="bicycle" class="small-icon">
                    </label>
                    <label>
                        <input type="radio" name="transport" value="transit">
                        <img src="./static/icons/train-subway-solid.svg" alt="train-subway" class="small-icon">
                    </label>
                    <label>
                        <input type="radio" name="transport" value="walking">
                        <img src="./static/icons/walking-solid.svg" alt="walking" class="small-icon">
                    </label>
                </div>
                <br>
                <br>
                <div name="location">
                    <input name="locationb" type="text" placeholder="Location 2" class="location-input" required>
                    <br>
                    <label>
                        <input type="radio" name="transport2" value="driving" checked>
                        <img src="./static/icons/car-solid.svg" alt="car" class="small-icon">
                    </label>
                    <label>
                        <input type="radio" name="transport2" value="bicycling">
                        <img src="./static/icons/bicycle-solid.svg" alt="bicycle" class="small-icon">
                    </label>
                    <label>
                        <input type="radio" name="transport2" value="transit">
                        <img src="./static/icons/train-subway-solid.svg" alt="train-subway" class="small-icon">
                    </label>
                    <label>
                        <input type="radio" name="transport2" value="walking">
                        <img src="./static/icons/walking-solid.svg" alt="walking" class="small-icon">
                    </label>
                </div>
        </div>
        <div class="meed-in-mid-outer">
            <input type="submit" value="Meet Me in the Middle!" class="meet-in-mid">
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13248.938434435806!2d151.18500284100202!3d-33.883611176409254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b1d4ab9ef1d9%3A0x1d017d69037a07c0!2sThe%20University%20of%20Sydney!5e0!3m2!1sen!2sau!4v1724478106864!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="main-map"></iframe>
    </div>
</form>

{% endblock %}